.App {
  text-align: center;
}

.quote-container{
  border: 1px solid #0f0101;
  border-radius: 8px;
  margin-bottom: 20px;
  background: rgb(2,0,36);
  padding: 20px;
  width: 650px;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 31%, rgba(0,212,255,1) 95%);
}

.quote{
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.default-btn{
  padding: 10px 20px;
  border-radius: 8px;
  border: 0;
  background-color: #000642;
  color: rgb(0, 157, 255);
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.2ss;
}

.default-btn:hover{
  background-color: #010a65;
}